<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AB191FD121513144A908109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>303AC9E6996A900FC6DC1ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3307CCDC1D4C47A5324A4F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F9C07CBC94BEF4AB6C80C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E7C8B8302AD95563B047EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85695475C559F8A0DD4D03EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB7A5E69632DFA941C3A8F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E618503DBD64482A44B4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2402B9A1521E932CD92A0A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A655ACAD6B9CBF460EF690F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE4DEDE481E8AE7A99DC064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7984EAC8B186EE0513FC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD79895C306BEF0CC4776A3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF05BEA594E4AFA8FE380CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB8D3CC9F7DDA9F7801E65DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9E32C66F384A0D6994BCDD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE68070286B510497BC86D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
